.basicCard {
    background-color: #f2f2f2;
    padding: 20px;
    width: 600px;
    border-radius: 3px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }
  
  .basicCard>p:hover {
    cursor: default;
  }
  
  .questionTitle {
    font-weight: bold;
  }
  
  @media (max-width: 768px) {
    .basicCard {
      width: 100%;
    }
  }
  