.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 40px;
    background-color: #f2f2f2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 2px 20px 5px rgba(0, 0, 0, 0.2);
    z-index: 999;
    min-height: 50px;
  }
  
  .right {
    text-align: right;
  }
  
  .greeting {
    font-size: large;
  }
  
  @media (max-width: 768px) {
    .navBar {
      padding: 10px;
      min-height: auto;
      flex-wrap: nowrap;
      justify-content: center;
    }
    
    .left {
        display: none;
    } 

    .right {
        text-align: center;
    }

    .middle {
      flex: 1;
      text-align: left;
    }
  
    .greeting {
      font-size: small;
    }
  }
  