.surveyResultContainer {
    width: 600px;
    margin-top: 120px;
    margin-bottom: 100px;
}

.surveyListContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.surveyListTitle {
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 20px;
}

.surveyItem {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.surveyItem p {
    flex-grow: 1;
    margin: 20px 10px;
}

.surveyItem button {
    flex-shrink: 0;
}

.surveyItem:hover {
    background-color: #e0e0e0;
}
.surveyItem:has( .copyButton:focus) .message{
    opacity: 0.5;
    color: transparent;
}

.surveyItemLink {
    text-decoration: none;
    color: #333;
}

.copyButton {
    margin: 10px;
    border: none;
    background-color: #6a63f6;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}
.message{
    text-align: right;
    opacity: 0;
    transition: opacity .5s ease-in, color .3s ease-out 2s;
}
.copyButton:active {
    background-color: #4238ff;
}

.copyImage {
    width: 20px;
    height: auto;
}

@media (max-width: 768px) {
    .surveyListContainer {
        width: 100%;
    }
    .surveyResultContainer {
        width: 100%;
        margin: 120px 10px;
        justify-content: center;
    }
    .message {
        font-size: small;
    }
}